@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-slate-800 text-white ;
    font-family: 'Raleway', sans-serif;
}

.my-container {
    @apply bg-slate-800 lg:p-6;
    background: linear-gradient(to right, rgb(30, 41, 59), rgba(30, 41, 59, 0.3)), url(https://grainy-gradients.vercel.app/noise.svg);
}

.nav-items {
    @apply active:text-teal-400 
    hover:text-teal-500 
    lg:block lg:my-24 
    focus:text-teal-500 
    hover:underline 
    hover:underline-offset-8 
    hover:decoration-4 
    lg:vertical-rl;
}

section {
    @apply lg:h-screen p-8 lg:p-12 rounded-3xl;
}

.my-leading {
    line-height: 2.4rem;
}

/* MODAL */
.modal-window {
    @apply fixed bg-black bg-opacity-25 top-0 right-0 bottom-0 left-0 z-[999] invisible opacity-0 pointer-events-none transition-all ease-linear;    
}

.modal-window:target {
    @apply visible opacity-100 pointer-events-auto;
}

.modal-window > div {
    @apply w-2/4 absolute top-1/2 left-1/2 p-2 bg-white text-teal-800 rounded-md translate-x-minus50 translate-y-minus50 h-32 flex content-center items-center justify-around;
}

.modal-close {
    @apply text-black bg-teal-400 absolute right-0 top-0 text-center px-3 py-3 text-xl rounded-full;
}

.modal-close:hover {
    @apply text-white px-3 py-3;
}
/* END OF MODAL */

hr {
    @apply mb-2
}

li{
    @apply mb-5
}

progress{
    @apply w-full px-3  h-1 block
}

progress::-webkit-progress-bar {
    @apply bg-slate-800 rounded-2xl border-2 border-slate-50;
}

progress::-webkit-progress-value {
    @apply bg-teal-200 rounded-2xl;
}

.pill {
    @apply px-2 py-0  bg-slate-50 rounded-full text-teal-600 font-bold;
}